<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="Shortcut Icon" href="~/Images/MMSmallLogo.ico" type="image/x-icon" />
        <meta charset="utf-8" />
        <title>
        @ViewBag.Title - MM Library System 
        </title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="width:1700px;margin:0 auto;">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="/Images/MMLogo.jpg" /></p>
                </div>
                <div class="float-right">
                    <section id="login">
                        <p>Welcome @User.Identity.Name to enter MM Library</p>
                    </section>
                </div>
            </div>
        </header>
        
        <div id="body">
            <div id="left" class="LeftBoddy">
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("BookList", "Index", "TestView")</li>
                </ul>
            </div>
            <div style="float:right;width:1540px;">
                <section class="featured">
                    <div class="content-wrapper">
                        <hgroup class="title">
                            <h1>@ViewBag.Title.</h1>
                            <h2>@ViewBag.Message</h2>
                        </hgroup>
                        <p>
                            Here is the navigation bar!
                        </p>
                    </div>
                </section>
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - MM-Software</p>
                </div>
            </div>
        </footer>
        
        @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
