@model IEnumerable<MMLibrarySystem.Models.Book>

<table id="bookList">
    <tr>
        <td>Book Number</td>
        <td style="width: 600px;">Title</td>
        <td>Publisher</td>
        <td>State</td>
    </tr>
    @{foreach (var item in Model)
      {
        <tr>
            <td>@item.BookNumber</td>
            <td>@Html.ActionLink(@item.BookInfo.Title, "BookDetail", "BookList",new { bookNumber = @item.BookNumber }, null)</td>
            <td>@item.BookInfo.Publisher</td>
            <td></td>
        </tr>
      }
    }
</table>