@using MMLibrarySystem.Bll
@model IPagedList<MMLibrarySystem.Models.Book>
<script type="text/javascript" src="/Scripts/BorrowBook.js"></script>
<script type="text/javascript" src="/Scripts/PagerList.js"></script>
<table id="bookList">
    <tr>
        <td>
            Book Number
        </td>
        <td>
            Title
        </td>
        <td>
            Publisher
        </td>
        <td>
            Purchase Date
        </td>
        <td>
            State
        </td>
        <td>
            Operation
        </td>
    </tr>
    @{foreach (var item in Model)
      {

          string colid = "col" + item.BookId;
          string stateid = "state" + item.BookId;
          bool state = BookBorrowing.IsBorrowed(item.BookId);
        <tr>
            <td>@item.BookNumber
            </td>
            <td>@Html.ActionLink(@item.BookType.Title, "BookDetail", "BookList", new { bookNumber = @item.BookNumber }, null)
            </td>
            <td>@item.BookType.Publisher
            </td>
            <td>@item.PurchaseDate.ToShortDateString()
            </td>
            <td id="@stateid">@(state == true ? "Borrowed" : "In Library")
            </td>
            @{
          if (!state)
          {
                <td id='@colid'>@Ajax.ActionLink("Borrow", "BorrowBook", new { columid = colid }, new AjaxOptions { UpdateTargetId = colid })
                </td>
          }
          else
          {
                <td>
                </td>
          }                  
            }
        </tr>
      }
    }
    
</table>
<div class="pageList" mytarget="mytarget">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}),PagedListRenderOptions.MinimalWithItemCountText)
</div>