@model IPagedList<MMLibrarySystem.ViewModels.BookList.BookListItem>
<div id="bookListContainer">
    <script type="text/javascript" src="/Scripts/BorrowBook.js"></script>
    <script type="text/javascript" src="/Scripts/PagerList.js"></script>
    <table>
        <tr>
            <td>
                Book Number
            </td>
            <td>
                Title
            </td>
            <td>
                Publisher
            </td>
            <td>
                Purchase Date
            </td>
            <td>
                State
            </td>
            <td>
                Operation
            </td>
        </tr>
        @{foreach (var item in Model)
          {
            <tr>
                <td>@item.BookNumber
                </td>
                <td>@Html.ActionLink(item.Title, "BookDetail", "BookList", new { bookNumber = item.BookNumber }, null)
                </td>
                <td>@item.Publisher
                </td>
                <td>@item.PurchaseDate
                </td>
                <td>@item.State
                </td>
                <td>
                    @{var operation = item.Operation;
                      if (!string.IsNullOrEmpty(operation))
                      {
                        @Ajax.ActionLink(operation, operation, new { bookId = item.BookId }, new AjaxOptions { UpdateTargetId = "bookListContainer", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
                      }
                    }
                </td>
            </tr>
          }
        }
    </table>
    <div class="pageList" mytarget="mytarget">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
    </div>
</div>
