@using MMLibrarySystem.Views
@model IPagedList<MMLibrarySystem.ViewModels.BookList.BookListItem>
<div id="bookListContainer">
    <table>
        <tr>
            <td>
                Book Number
            </td>
            <td>
                Title
            </td>
            <td>
                Publisher
            </td>
            <td>
                Purchase Date
            </td>
            <td>
                State
            </td>
            <td>
                Operation
            </td>
        </tr>
        @{foreach (var item in Model)
          {
            <tr>
                <td>@item.BookNumber
                </td>
                <td>@Html.UserOperation(item.Title)
                </td>
                <td>@item.Publisher
                </td>
                <td>@item.PurchaseDate
                </td>
                <td>@item.State
                </td>
                <td>@Ajax.UserOperation(item.Operation)
                </td>
            </tr>
          }
        }
    </table>
    <div class="pageList" mytarget="#bookListContainer">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithPageCountText)
    </div>
</div>
