@model IPagedList<MMLibrarySystem.Models.BookListController.BookListItem>

<script type="text/javascript" src="/Scripts/BorrowBook.js"></script>
<script type="text/javascript" src="/Scripts/PagerList.js"></script>

<table id="bookList">
    <tr>
        <td>
            Book Number
        </td>
        <td>
            Title
        </td>
        <td>
            Publisher
        </td>
        <td>
            Purchase Date
        </td>
        <td>
            State
        </td>
        <td>
            Operation
        </td>
    </tr>
    @{foreach (var item in Model)
      {

          string colid = "col" + item.BookId;
          string stateid = "state" + item.BookId;
        <tr>
            <td>@item.BookNumber
            </td>
            <td>@Html.ActionLink(@item.Title, "BookDetail", "BookList", new { bookNumber = @item.BookNumber }, null)
            </td>
            <td>@item.Publisher
            </td>
            <td>@item.PurchaseDate
            </td>
            <td id="@stateid">@item.State
            </td>
            @{
              var operation = @item.Operation;
                <td id='@colid'>@Ajax.ActionLink(@operation, @operation, new { columid = colid }, new AjaxOptions { UpdateTargetId = colid })
                </td>
            }
        </tr>
      }
    }
</table>
<!--div class="pageList" mytarget="mytarget">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}),PagedListRenderOptions.MinimalWithItemCountText)
</div-->