@using MMLibrarySystem.Views
@model MMLibrarySystem.ViewModels.BookList.BookDetailInfo

@{
    ViewBag.Title = "Book Detail";
}

<div>
    @Html.UserOperation(Model.Operation)
</div>

<table id="bookDetail">
    <tr>
        <td>Title</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Publisher</td>
        <td>@Model.Publisher</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>@Model.BookNumber</td>
    </tr>
    <tr>
        <td>Net Price</td>
        <td>@Model.NetPrice</td>
    </tr>
    <tr>
        <td>Purchase Date</td>
        <td>@Model.PurchaseDate</td>
    </tr>
    <tr>
        <td>Requested By</td>
        <td>@Model.RequestedBy</td>
    </tr>
    <tr>
        <td>Purchase Url</td>
        <td>@Model.PurchaseUrl</td>
    </tr>
    <tr>
        <td>User And Team</td>
        <td>@Model.UserAndTeam</td>
    </tr>
    <tr>
        <td>Supplier</td>
        <td>@Model.Supplier</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>@Model.Description</td>
    </tr>
</table>
